Repository Lantern-Cloud-Services/MTC_WhackAMole_v2: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.kube-admin.yml, azure-pipelines.mole-cloud-container.yml, azure-pipelines.terraform.yml

azure-pipelines.kube-admin.yml:

name: $(Date:yyyyMMdd)$(Rev:.r)

pool:
  vmImage: 'ubuntu-18.04'

trigger:
  branches: 
    include:
      #- master
      - dev
  paths:
    include:
      - src/WhackAMole.KubeAdmin
      - src/WhackAMole.KubeServices
      - src/Dockerfile.KubeAdmin
      - charts/kube-admin
      - azure-pipelines.kube-admin.yml

variables:
  acr_name: demomtcappdevwhackamolev2devacr
  image_name: whack-a-mole/kube-admin:$(Build.BuildNumber)

steps:
- task: AzureCLI@1
  displayName: 'Azure CLI '
  inputs:
    azureSubscription: 'jcookAIA'
    scriptLocation: inlineScript
    inlineScript: |
      # User ACR to build and tag our container
      az acr build -r $(acr_name) -t $(image_name) -f ./src/Dockerfile.KubeAdmin ./src
      
      # Package the helm chart and push it to ACR
#      helm init --client-only
#      helm package charts/kube-admin --version $(Build.BuildNumber)
#      az acr helm push -n $(acr_name) kube-admin-$(Build.BuildNumber).tgz

azure-pipelines.mole-cloud-container.yml:

name: $(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches: 
    include:
      - master
      - feature/terraform
  paths:
    include:
      - src/WhackAMole.MoleCloud
      - src/WhackAMole.KubeServices
      - src/Dockerfile.MoleCloud
      - charts/mole-cloud
      - azure-pipelines.mole-cloud-container.yml

variables:
  tag: $(Build.BuildNumber)
  registry: $(acr_name).azurecr.io
  repository: $(registry)/whack-a-mole/mole-cloud

pool:
  vmImage: 'ubuntu-16.04'

steps:
# Build, package and push
- task: AzureCLI@1
  displayName: 'Azure CLI '
  inputs:
    azureSubscription: 'MTC Denver Sandbox (b0e04a4a-a321-4b66-b8fd-13715262ba3c)'
    scriptLocation: inlineScript
    inlineScript: |
      # log in to the container registry
      az acr login -n $(acr_name)

      # Build and push the container
      docker build -f ./src/Dockerfile.MoleCloud -t $(repository):$(tag) ./src
      docker tag $(repository):$(tag) $(repository):latest
      docker push $(repository):$(tag)
      docker push $(repository):latest

azure-pipelines.terraform.yml:

name: $(Date:yyyyMMdd)$(Rev:.r)

pool:
  vmImage: 'ubuntu-18.04'

trigger:
  branches: 
    include:
      - master
  paths:
    include:
      - terraform
      - auzre-pipelines.terraform.yml

steps:
# Verify template and generate terraform plan
#- script: |
#    echo 'cmd: terraform fmt -check=true'
#    cd terraform    
#    terraform fmt -check
#  displayName: Verify terraform template

- script: |
    echo 'cmd: cp terraform/* ./ $(Build.ArtifactStagingDirectory) -R'
    cp terraform/* ./ $(Build.ArtifactStagingDirectory) -R  
  displayName: Copy terraform template to the staging directory

  # Publish build artifacts
- task: PublishBuildArtifacts@1

Update azure-pipelines.kube-admin.yml for Azure Pipelines
  azure-pipelines.kube-admin.yml
Due: azure-pipelines.kube-admin.yml

added .gitignore
  src/.gitignore
Due: none

gh action initial commit
  .github/workflows/whack-a-mole-admin.yml
Due: none

update action name
  .github/workflows/whack-a-mole-admin.yaml
Due: none

Update whack-a-mole-admin.yaml
  .github/workflows/whack-a-mole-admin.yaml
Due: none

updated docker image versions
  src/Dockerfile.KubeAdmin
Due: azure-pipelines.kube-admin.yml

docker fixes
  src/.gitignore
  src/Dockerfile.KubeAdmin
Due: azure-pipelines.kube-admin.yml

updated more docker
  azure-pipelines.kube-admin.yml
  src/Dockerfile.MoleCloud
Due: azure-pipelines.kube-admin.yml, azure-pipelines.mole-cloud-container.yml

updates
  .github/workflows/whackamole-admin.yaml
Due: none

remove old file
  .github/workflows/whack-a-mole-admin.yaml
Due: none
