Repository Lantern-Cloud-Services/MTC_WhackAMole_v2: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.kube-admin.yml, azure-pipelines.mole-cloud-container.yml, azure-pipelines.terraform.yml

azure-pipelines.kube-admin.yml:

name: $(Date:yyyyMMdd)$(Rev:.r)

pool:
  vmImage: 'ubuntu-18.04'

trigger:
  branches: 
    include:
      #- master
      - feature/terraform
  paths:
    include:
      - src/WhackAMole.KubeAdmin
      - src/WhackAMole.KubeServices
      - src/Dockerfile.KubeAdmin
      - charts/kube-admin
      - azure-pipelines.kube-admin.yml

variables:
  acr_name: mtcdensandboxdemo
  image_name: whack-a-mole/kube-admin:$(Build.BuildNumber)

steps:
- task: AzureCLI@1
  displayName: 'Azure CLI '
  inputs:
    azureSubscription: 'MTC Denver Sandbox'
    scriptLocation: inlineScript
    inlineScript: |
      # User ACR to build and tag our container
      az acr build -r $(acr_name) -t $(image_name) -f ./src/Dockerfile.KubeAdmin ./src
      
      # Package the helm chart and push it to ACR
      helm init --client-only
      helm package charts/kube-admin --version $(Build.BuildNumber)
      az acr helm push -n $(acr_name) kube-admin-$(Build.BuildNumber).tgz

azure-pipelines.mole-cloud-container.yml:

name: $(Date:yyyyMMdd)$(Rev:.r)

trigger:
  branches: 
    include:
      - master
      - feature/terraform
  paths:
    include:
      - src/WhackAMole.MoleCloud
      - src/WhackAMole.KubeServices
      - src/Dockerfile.MoleCloud
      - charts/mole-cloud
      - azure-pipelines.mole-cloud-container.yml

variables:
  tag: $(Build.BuildNumber)
  registry: $(acr_name).azurecr.io
  repository: $(registry)/whack-a-mole/mole-cloud

pool:
  vmImage: 'ubuntu-16.04'

steps:
# Build, package and push
- task: AzureCLI@1
  displayName: 'Azure CLI '
  inputs:
    azureSubscription: 'MTC Denver Sandbox (b0e04a4a-a321-4b66-b8fd-13715262ba3c)'
    scriptLocation: inlineScript
    inlineScript: |
      # log in to the container registry
      az acr login -n $(acr_name)

      # Build and push the container
      docker build -f ./src/Dockerfile.MoleCloud -t $(repository):$(tag) ./src
      docker tag $(repository):$(tag) $(repository):latest
      docker push $(repository):$(tag)
      docker push $(repository):latest

azure-pipelines.terraform.yml:

name: $(Date:yyyyMMdd)$(Rev:.r)

pool:
  vmImage: 'ubuntu-18.04'

trigger:
  branches: 
    include:
      - master
  paths:
    include:
      - terraform
      - auzre-pipelines.terraform.yml

steps:
# Verify template and generate terraform plan
#- script: |
#    echo 'cmd: terraform fmt -check=true'
#    cd terraform    
#    terraform fmt -check
#  displayName: Verify terraform template

- script: |
    echo 'cmd: cp terraform/* ./ $(Build.ArtifactStagingDirectory) -R'
    cp terraform/* ./ $(Build.ArtifactStagingDirectory) -R  
  displayName: Copy terraform template to the staging directory

  # Publish build artifacts
- task: PublishBuildArtifacts@1

Set up CI with Azure Pipelines
  azure-pipelines.terraform.yml
Due: none

updated vars for new deployment
  terraform/variables.tf
Due: azure-pipelines.terraform.yml

re-enable fmt check
  azure-pipelines.terraform.yml
Due: none

Update azure-pipelines.terraform.yml for Azure Pipelines
  azure-pipelines.terraform.yml
Due: none

branch test
  terraform/variables.tf
Due: azure-pipelines.terraform.yml

remove quotes from type declerations
  terraform/variables.tf
Due: azure-pipelines.terraform.yml

remove more quotes
  terraform/variables.tf
Due: azure-pipelines.terraform.yml

testing
  azure-pipelines.terraform.yml
Due: none

remove quotes
  terraform/aks.tf
Due: azure-pipelines.terraform.yml

remove quotes
  terraform/helm.tf
Due: azure-pipelines.terraform.yml

naming cleanup
  terraform/azuread.tf
  terraform/monitoring.tf
  terraform/networking.tf
Due: azure-pipelines.terraform.yml

cleanup
  terraform/azuread.tf
  terraform/monitoring.tf
  terraform/networking.tf
Due: azure-pipelines.terraform.yml

cleanup
  terraform/azuread.tf
Due: azure-pipelines.terraform.yml

cleanup
  terraform/aks.tf
Due: azure-pipelines.terraform.yml

iterating
  terraform/aks.tf
Due: azure-pipelines.terraform.yml

iterate
  terraform/aks.tf
Due: azure-pipelines.terraform.yml

dev
  terraform/helm.tf
Due: azure-pipelines.terraform.yml

dev
  terraform/main.tf
Due: azure-pipelines.terraform.yml

dev
  terraform/main.tf
  terraform/providers.tf
Due: azure-pipelines.terraform.yml

change rg name
  terraform/providers.tf
Due: azure-pipelines.terraform.yml

change rg name
  terraform/variables.tf
Due: azure-pipelines.terraform.yml

change naming convention
  terraform/variables.tf
Due: azure-pipelines.terraform.yml

dev
  terraform/aks.tf
  terraform/azuread.tf.disabled
  terraform/providers.tf
Due: azure-pipelines.terraform.yml

re-enable app registration
  terraform/aks.tf
Due: azure-pipelines.terraform.yml

re-enable ad stuff
  terraform/azuread.tf
Due: azure-pipelines.terraform.yml

bicep initial commit
  bicep/main.bicep
  bicep/main.parameters.json
  bicep/networking.bicep
Due: none

Set up CI with Azure Pipelines
  azure-pipelines.kube-admin.yml
Due: azure-pipelines.kube-admin.yml

Update azure-pipelines.kube-admin.yml for Azure Pipelines
  azure-pipelines.kube-admin.yml
Due: azure-pipelines.kube-admin.yml

bicep impl
  bicep/acr.bicep
Due: none

bicep impl
  bicep/aks.bicep
  bicep/azuread.bicep
  bicep/backed.bicep
  bicep/heml.bicep
  bicep/kubernetes.bicep
  bicep/main.bicep
  bicep/main.parameters.json
  bicep/monitoring.bicep
  bicep/networking.bicep
Due: none
